body {
    background-image: url("https://i.postimg.cc/MGPbCDyV/204-CB983-DB1-B-40-E0-8-D22-360-CA8905-B32.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    touch-action: none;
    display: flex;
    flex-direction: column;
	-ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none
}
h1 {
font-family: Arial;
color: white;
}
h2 {
font-family: Arial;
color: white;
}
h3 {
margin-top: 3px; /* 100px Старый параметр */
color: white;
font-family: Arial;
}
.sell {
background-image: url("https://i.postimg.cc/MGPbCDyV/204-CB983-DB1-B-40-E0-8-D22-360-CA8905-B32.jpg");
float: left;
border: none;
box-shadow: none;
border-radius: 15px;
}
.buy {
background-image: url("https://i.postimg.cc/MGPbCDyV/204-CB983-DB1-B-40-E0-8-D22-360-CA8905-B32.jpg");
float: right;
border: none;
box-shadow: none;
border-radius: 15px;
}
button {
width: 180px;
height: 100px;
} 
.roundcorner {
border-radius: 15px; /* Adjust the value for desired roundness */
overflow: hidden; /* Hide any content that extends beyond the rounded corners */
position: relative; /* Относительное позиционирование */
float: left; /* Выравнивание по левому краю с обтеканием */
margin-right: 20px; /* Отступ справа */
display: flex;
justify-content: space-around;
}  
.sell img, .buy img { /* Apply to both images */
border-radius: 15px; /* Match the border-radius of the container */
}
.container {
    color: white;
    background-color: rgb(54, 54, 54);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    width: 400px;
    height: 80px;
    display: flex; /* Make the container a flex container */
    justify-content: space-around; /* Distribute buttons evenly within the container */
    align-items: center;
    margin-top: 320px;
    }
    .Task {
    height: 80px;
    width: 133.3px;
    background-color:  rgb(54, 54, 54);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    color: white;
    font-family: Arial;
    }
    .Game {
    height: 80px;
    width: 133.3px;
    background-color:   rgb(54, 54, 54);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    color: white;
    font-family: Arial;
    }
    .Market {
    height: 80px;
    width: 133.3px;
    background-color:  rgb(78, 78, 78);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    color: white;
    font-family: Arial;
    }
